<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" id="name" placeholder="Name">
        <button>
            Save product
        </button>
    </form>

    <script>
        const { ipcRenderer } = require('electron');

        const form = document.querySelector('form');

        form.addEventListener('submit', event => {
            event.preventDefault();
            const nameProduct = document.querySelector('#name').value;
            /* console.log(event); */
            /* console.log(nameProduct); */
            const newProduct = {
                name: nameProduct
            };
            ipcRenderer.send('product:new', newProduct);            
        });
    </script>
</body>
</html>