<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BULMA CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Tasks</title>
</head>
<body>
    <div class="columns m-1 is-gapless is-multiline">

        <div class="column is-one-quarter"></div>

        <div class="column is-half">

            <div class="box">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select name="client" id="selectID">
                        </select>
                    </div>
                </div>
    
                <button class="button is-primary is-fullwidth mt-2" id="btnSearch">
                    Search
                </button>
            </div>

        </div>

        <div class="column is-one-quarter"></div>

        <div class="column is-half">

            <div class="box" id="boxClient">
            </div>

            <!-- <div class="box" id="textarea"></div> -->
            <!-- <textarea name="" id="textArea" cols="10" rows="10" class="textarea mt-1"></textarea> -->
        </div>

        <div class="column is-half">

            <div class="box">

                <div class="field">
                    <label for="" class="label">SSTT Classic</label>
                    <div class="control">
                        <label for="" class="radio">
                            <input type="radio" name="Test" id="uno" value="LOS"> Luz LOS
                        </label>
                        <label for="" class="radio">
                            <input type="radio" name="Test" id="dos" value="2"> Deco Offline
                        </label>
                        <label for="" class="radio">
                            <input type="radio" name="Test" id="tres" value="3"> Change Password
                        </label>
                        <label for="" class="radio">
                            <input type="radio" name="Test" id="cuatro" value="4"> Inet Intermitente
                        </label>
                        <label for="" class="radio">
                            <input type="radio" name="Test" id="cinco" value="5"> Low Channel
                        </label>
                        <label for="" class="radio">
                            <input type="radio" name="Test" id="seis" value="6"> Low Levels Rx
                        </label>
                        <label for="" class="radio">
                            <input type="radio" name="Test" id="siete" value="7"> Other
                        </label>
                    </div>
                </div>

                <div class="field">
                    <label for="" class="label">SSTT Advanced</label>
                    <!-- <div class="control">
                        <input type="text" class="input" placeholder="ONT" id="ont">
                        <input type="text" class="input" placeholder="OLT" id="olt">
                        <input type="text" class="input" id="nodo" placeholder="NODO">
                    </div> -->
                </div>
            </div>

            <button class="button is-primary is-fullwidth" id="btnGenerate">
                Generate
            </button>

        </div>

    </div>
    <script src="../js/task.js">
    </script>
</body>
</html>