<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BULMA CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- PERSONAL CSS -->
    <link rel="stylesheet" href="../css/task.css">
    <title>Tareas</title>
</head>
<body>
    <div class="columns m-1 is-gapless is-multiline king-box">
        <!-- <div class="column is-one-quarter"></div> -->
        <div class="column is-half">
            <div class="box box-search">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select name="client" id="selectID">
                        </select>
                    </div>
                </div>
    
                <button class="button is-primary is-fullwidth mt-4" id="btnSearch">
                    Buscar
                </button>
            </div>
        </div>

        <div class="column is-half">
            <div class="columns">
                <div class="column is-half">
                    <div class="box" id="boxClientOne">
                        
                    </div>
                </div>
                <div class="column is-half">
                    <div class="box" id="boxClientTwo">
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-half left-panel">
            <div class="box box-client_sstt">
                <div class="columns">
                    <div class="column is-half">                    
                        <div class="control">
                            <label for="" class="label is-size-7">ONT</label>
                            <input type="text" class="input is-small"  value="" placeholder="ONT" id="ont">
                        </div>
                        <div class="control">
                            <label for="" class="label is-size-7">Nodo</label>
                            <input type="text" class="input is-small" value="" placeholder="Nodo" id="nodo">
                        </div>
                        <div class="control">
                            <label for="" class="label is-size-7">OLT</label>
                            <input type="text" class="input is-small" value="" placeholder="OLT" id="olt">
                        </div>
                        <div class="control">
                            <label for="" class="label is-size-7"></label>
                            <button class="button is-primary is-size-7 is-fullwidth" id="btnGenerateExtra">
                                Generar
                            </button>
                        </div>
                    </div>
                    <div class="column is-half">                    
                        <!-- TODO show template client + add_client -->
                        <div class="box" id="boxTemplateClient">
                            
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label for="" class="label is-size-7">SSTT Clásico</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="sstt" id="showSSTT">
                                <option value="1">Falla masiva</option>
                                <option value="2">Sondeo llamada</option>
                                <option value="3">Latencia juego/página</option>
                                <option disabled>-----</option>
                            </select>
                        </div>
                    </div>
                </div>  
                <button class="button is-primary is-fullwidth m-1" id="btnGenerate">
                    Generar
                </button>
                <!-- <div class="field">
                    <label for="" class="label is-size-7">SSTT Avanzado</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="" id="ssttAdvanced">
                                <option value="1">Falla masiva</option>
                                <option value="2">Sondeo llamada</option>
                                <option value="3">Latencia juego/página</option>
                            </select>
                        </div>
                    </div>
                </div> -->
            </div>            
        </div>

        <div class="column is-half">          
            <textarea name="" id="boxClient" cols="10" rows="10" class="textarea m-2 has-fixed-size"></textarea>
            <!-- <div class="box">
                <article class="message">
                    <div class="message-body" id="boxClient"></div>
                </article>
            </div> -->
            <!-- <button class="button is-primary is-fullwidth m-1" id="btnGenerate">
                Generar
            </button> -->
        </div>

    </div>
    <script src="../js/task.js">
    </script>
</body>
</html>